<ul>
	{% for entity in entities %}
	<li><a href="javascript: addItemBarraEstado('{{ entity.Nombre }}','{{ entity.Descripcion }}','/adj/web/app_dev.php/{{ entity.Nombre }}','{{ path('opcion_list_atributos_opcion',{ 'opcionId': entity.id }) }}')">{{ entity.Descripcion }}</a></li>
	{% endfor %}
</ul>